/* Mobile first design  */

h1 {
  margin: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

.company-collapase {
  padding-left: 12px;
}

.container {
  margin: auto;
  padding-right: 10px;
}

.collapsible .content {
  padding: 6px 0 6px 18px;
}

.collapsible .header {
  align-items: center;
  border-bottom: 2px solid aqua;
  padding: 6px 0 6px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.plus-image {
  width: 50px;
  height: 50px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: aqua;
}

.text {
  font-size: 26px;
  padding-right: 20px;
}

.header + div {
  border: 1px solid white;
}

.custom-answer {
  border-bottom: 2px solid aqua;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .text {
    font-size: 20px;
  }
}